# Set flag for CUDA 13.0 wheels
--extra-index-url https://download.pytorch.org/whl/cu130

# Required PyTorch packages
torch
torchao
torchvision

# Direct git dependency for custom DINOv3 models
dinov3 @ git+https://github.com/eminorhan/dinov3.git

# A few other packages
huggingface_hub
matplotlib
tomli
zarr